body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
    line-height: 1.50;
    background-image: url("profile_background.png");
}

.contact {
    font-style: italic;
}

div.profile-picture {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1em;
    overflow: hidden;
}

.profile-table {
    border-collapse: collapse;
    border-radius: 10px;
    padding: 10px 0px;
}

.profile-table td {
    border: 1px solid #ddd;
    padding: 8px;
    background-image: url("table_rows.png");
}

.profile-table th {
    padding: 8px;
    text-align: left;
    background-image: url("header_background.png");
    color: white;
}

